*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto,RobotoDraft,Arial,sans-serif;
}

html{
  font-size: 62.5%;
}

nav{
  margin-top: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.2rem;

}

nav a{
  text-decoration:none;
  color: black;
}
.nav-item {
  padding: 0.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  justify-content: center;
}

.logo{
    max-height: 9.2rem;
    position: relative;
    margin-bottom: 1.8rem;
}

.search{

  display:flex;
  align-items: center;
  height: 4.4rem;
  width:auto;
  border: 0.1rem solid #dfe1e5;
  padding: 12px;
  border-radius: 2.4rem;
  position: inherit;
  margin-bottom:40px;
}

.search input{

  background-color: transparent;
  border: none;
  margin: 0;
  padding: 12px;
 /* color: rgba(0,0,0,.87);*/
  /*word-wrap: break-word;*/
  outline: none;
  display: flex;
  flex: 100%;
 /* -webkit-tap-highlight-color: transparent;*/
/*  margin-top: -37px;*/
  height: 34px;
  font-size: 16px;
  width: 500px;


  }

.buttoms{
  display: flex;
  justify-content: center;
}

.buttoms button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttoms a{
  text-decoration:none;
  color: black;
}

footer{
  display: flex;
  font-size: 1.3rem;
  padding:0;
  position: bottom;
  height: 20vh;
  align-items: end;
}

.footer_container_content{
  display: flex;
  justify-content:space-between;
  background-color: #f2f2f2;
  padding: 20px 10px;
  width: 100vw;

}

footer a{
  text-decoration: none;
  margin: 0 10px;
  color:#70757a;
}






